<?php

declare(strict_types=1);

/*
 * TaamAiUserLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TaamAiUserLib\Controllers;

use Core\Request\Parameters\QueryParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TaamAiUserLib\Exceptions\ApiException;

class MiscController extends BaseController
{
    /**
     * @param int $userId
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function allCategories(int $userId): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/all/categories')
            ->auth('global')
            ->parameters(QueryParam::init('user_id', $userId));

        $this->execute($_reqBuilder);
    }

    /**
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function newRequest(): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/')->auth('global');

        $this->execute($_reqBuilder);
    }
}
